{% extends cast_base_template %}
{% load static %}
{% load webmention_tags %}

{% block title %}Jochen{% endblock %}

{% block additionalheaders %}
  <link rel="authorization_endpoint" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:auth' %}">
  <link rel="token_endpoint" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:token' %}">
  <link rel="micropub" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:micropub' %}">
  {% webmention_endpoint_link %}
{% endblock %}

{% block content %}
  <div class="container h-card">
    <img class="u-photo" src="https://d2b7dn9rofvhjd.cloudfront.net/uploads/jochen-cover-profile_8SKdFNe.webp" alt="Jochen Wersdörfer" width="128" height="128" style="border-radius: 50%; margin-bottom: 1rem;">
    <h1 class="p-name">Jochen Wersdörfer</h1>
    <a class="u-url" href="/jochen/" style="display: none;"></a>

    <ul>
      <li><a href="https://twitter.com/ephes" rel="me">@ephes on Twitter</a></li>
      <li><a href="https://github.com/ephes" rel="me">Github</a></li>
      <li><a href="mailto:jochen-www@wersdoerfer.de" rel="me" class="u-email">jochen-www@wersdoerfer.de</a></li>
      <li><a href="sms:+4917623530319" rel="me" class="p-tel">(+49) 0176 23530319</a></li>
      <li><a rel="me" href="https://wersdoerfer.de/@jochen">Mastodon</a></li>
    </ul>
  </div>
{% endblock content %}
