{% extends "base.html" %}
{% load static %}

{% block title %}Jochen{% endblock %}

{% block content %}
<link rel="authorization_endpoint" href="https://wersdoerfer.de/indieweb/auth/">
<div class="container">
  <ul>
    <li><a href="https://twitter.com/ephes" rel="me">@ephes on Twitter</a></li>
    <li><a href="https://github.com/ephes" rel="me">Github</a></li>
    <li><a href="mailto:jochen-www@wersdoerfer.de" rel="me">jochen-www@wersdoerfer.de</a></li>
    <li><a href="sms:+4917623530319" rel="me">(+49) 0176 23530319</a></li>
  </ul>
</div>
{% endblock content %}
