{% extends cast_base_template %}
{% load static %}
{% load webmention_tags %}
{% load indieweb_tags %}

{% block title %}Jochen{% endblock %}

{% block additionalheaders %}
  <link rel="authorization_endpoint" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:auth' %}">
  <link rel="token_endpoint" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:token' %}">
  <link rel="micropub" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'indieweb:micropub' %}">
  {% webmention_endpoint_link %}
{% endblock %}

{% block content %}
  <div class="container">
    {% h_card user %}

    {# Additional links not in h-card #}
    <ul style="margin-top: 2rem;">
      <li><a href="https://twitter.com/ephes" rel="me">@ephes on Twitter</a></li>
      <li><a href="https://github.com/ephes" rel="me">Github</a></li>
      <li><a href="mailto:jochen-www@wersdoerfer.de" rel="me">jochen-www@wersdoerfer.de</a></li>
      <li><a href="sms:+4917623530319" rel="me">(+49) 0176 23530319</a></li>
      <li><a rel="me" href="https://wersdoerfer.de/@jochen">Mastodon</a></li>
    </ul>
  </div>
{% endblock content %}
