{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<article>
  <header>
    <h1>{{ blogpost.title }}</h1>
    <a href="{% url "blogs:blogpost-detail" blog_slug=blogpost.blog.slug slug=blogpost.slug %}">
      <time date-time="{{ blogpost.created|date:"c" }}">{{ blogpost.created }}</time>
    </a>
    <a href="{% url "blogs:blogpost-list" slug=blogpost.blog.slug %}">back..</a>
  </header>
  <section>
    {{ blogpost.description|safe }}
  </section>
</article>
{% endblock content %}

{% block template_script %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock template_script %}
