{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
  <a class="btn btn-primary btn-lg" role="button" href="{% url "blogs:blogpost_update" blog_slug=blogpost.blog.slug slug=blogpost.slug %}">Update Entry</a>
{% endif %}
<article>
  <header>
    <h1>{{ blogpost.title }}</h1>
    <a href="{% url "blogs:blogpost_detail" blog_slug=blogpost.blog.slug slug=blogpost.slug %}">
        <time date-time="{{ blogpost.visible_date|date:"c" }}">{{ blogpost.visible_date}}</time>
    </a>
    <a href="{% url "blogs:blogpost_list" slug=blogpost.blog.slug %}">back..</a>
  </header>
  <section>
    {{ blogpost.description|safe }}
  </section>
</article>
{% endblock content %}

{% block template_script %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock template_script %}
