{% load wagtailcore_tags %}
<div class="gallery project-gallery">
  {% for row in value.mobile_rows %}
    {% for image in row %}
      {% if row|length == 2 %}
        {% include_block image with modifier="portrait-paired" image_sizes="(min-width: 94.5rem) 21.5rem, (min-width: 81rem) 25vw, (min-width: 61.5rem) 33vw, (min-width: 41rem) 50vw, 100vw" only %}
      {% else %}
        {% include_block image with image_sizes="(min-width: 94.5rem) 21.5rem, (min-width: 81rem) 25vw, (min-width: 61.5rem) 33vw, (min-width: 41rem) 50vw, 100vw" only %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
